# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist

# next.js
.next

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.env
.env.local
.env.dev*
.env.test*
.env.stage*
.env.prod*
.env.*.local
uploads
images
deploy.sh
TODO.md
